doctype html
html
  head
    meta(charset='utf-8')
    script(src='js/iframe_api.js')
    link(rel='stylesheet', href='css/main.css')
    title FixStep
  body
    h2 Synchronize all your music in one place.
    div(id='player')
    script(type='text/javascript', src='js/main.js')
