@import url(http://fonts.googleapis.com/css?family=Roboto:400);
body {
    background-color: #e1e1e1;
    font: normal 14px Roboto, arial, sans-serif;
    padding: 1em;
}

textarea {
    background-color: #ececec;
    padding: 10px;
    resize: none;
    font-size: 14pt;
    width: 50em;
    height: 20em;
}
